
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  width: 100%;
  height: 80px;
  background-color: #bfbcbc;
  margin-bottom: 50px;
}
.container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.container h1{
  padding: 20px;
  margin-left: 10px;
  font-size: 30px;
}
.menu ul{
  list-style: none;
  display: flex;
}
.menu ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px 20px;

}
.navbar .container{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.section-heading{
  text-align: center;
  margin-bottom: 100px;
}
.section-heading h2{
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 10px;

}
.section-heading h3{
  font-size: 40px;
  line-height: 55px;
  margin-bottom: 10px;
}
.section-heading p{
  letter-spacing: 9px;
  font-size: 20px;
}
.filter-nav{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 60px;
}
.filter-nav ul li a:hover{
  border-color: rgb(229, 36, 190);
}
.filter-nav ul{
  list-style: none;
  display: flex;
}
.filter-nav ul li a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px 20px;
  border: 1px solid rgb(80, 78, 78);
  margin: 0 16px;
  border-radius: 20px;
}
.photo-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.photo-item img{
  max-width: 100%;
  max-height: 100%;
} 
.photo-item{
  width: calc(25% - 12px);
  margin-bottom: 12px;
}
.footer{
  text-align: center;
  padding: 10px;
}
.footer h2{
  margin-bottom: 10px;
  font-size: 40px;
}
.icon-item{
  margin-top: 20px;
  margin-bottom: 60px;
}
.icon-item ul{
  display: flex;
  list-style: none;
  justify-content: center;
}
.icon-item ul li a{
  text-decoration: none;
  padding: 10px;
  color: rgb(135, 127, 132);
  font-size: 30px;
}
.photo-list2{
  width: 100%;
}
.my-photo{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.photo-list2 p{
  font-size: 20px;
}
.about-text {
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}

.greeting {
  width: 960px;
  margin: 0 auto;
}
.greeting h4 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}
.skill-percentage{
  width: 960px;
  margin: 60px auto;
}
.skill-percentage ul {
  list-style: none;
}
.skill-percentage ul li {
  padding: 20px;
}
.skill-name {
  width: 50%;
  float: left;
}
.skill-percentage-value {
  width: 50%;
  float: left;
  text-align: right;
}
.skill-bar {
  width: 100%;
  height: 2px;
  background-color: #000;
  display: block;
}
.skill-percentage ul li p {
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.contact-form-map{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.input-list {
  flex: 1;
  margin-right: 16px;
}
.input-item {
  width: 100%;
  margin-bottom: 16px;
  font-size: 40px;
}
.input-item input[type="text"] {
  width: 100%;
  height: 50px;
  border: 1px solid #8d8383;
  border-radius: 8px;
  padding: 0 15px;
}
button.btn.btn-lg.btn-primary {
  width: 150px;
  height: 50px;
  border: 0;
  outline: 0;
  background-color: black;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  float: right;
}
.contact-map{
  flex: 1;
  margin-left: 16px;
}
.contact-map iframe{
  max-width: 100%;
}
.input-item textarea {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  padding: 16px;
}
.contact-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.single-contact-info {
  width: calc((100% / 3) - 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: rgb(222, 225, 225);
}